[Unit]
Description=Starts and stops the Paradox IP150 Python script
Documentation=https://github.com/spinza/paradox_mqtt
Wants=network-online.target
After=network-online.target

[Service]
User=paradox
Group=paradox
WorkingDirectory=/opt/paradox_mqtt/
PermissionsStartOnly=true
ExecStart=/usr/bin/python3 /opt/paradox_mqtt/main.py
# Shutdown delay in seconds, before process is tried to be killed with KILL (if configured)
TimeoutStopSec=20

[Install]
WantedBy=multi-user.target
